<section class="section-react banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
            <%= react_component("Title") %>
            <h2 style="color: white">        
              <span class="cd-words-wrapper text-color" id="banner-typed-text"></span>
            </h2>
          <p class="mt-4">Beautifully crafted ship models from the island of Tahiti.</p>
      </div>
    </div>
  </div>
</section>

<%= react_component("VideoHome") %>
<% react_component("Parent") %>
<div class="vierge-react"></div>

<section class="ships_list">
  <div class="container">

    <div class="mb-5">
          <div class="btn-group btn-group-toggle " data-toggle="buttons">
            <label class="btn active ">
              <a href="#ships-list-gallery-id">
                <input type="radio" name="shuffle-filter" value="all" checked="checked" />All Ships
              </a>
            </label>
            <label class="btn">
              <a href="#ships-list-gallery-id">
                <input type="radio" name="shuffle-filter" value="explorers" />Explorers
              </a>
            </label>
            <label class="btn">
              <a href="#ships-list-gallery-id">
                <input type="radio" name="shuffle-filter" value="historicals" />Historicals
              </a>
            </label>
            <label class="btn">
              <a href="#ships-list-gallery-id">
                <input type="radio" name="shuffle-filter" value="warships" />Warships
              </a>
            </label>
             <label class="btn">
              <a href="#ships-list-gallery-id">
                <input type="radio" name="shuffle-filter" value="miniatures" />Miniatures
              </a>
            </label>
          </div>
    </div>  
    <div class="shuffle-wrapper ships-list-gallery" id="ships-list-gallery-id">
      <%= @ships.find_each do |ship|  %>
        <%= link_to(ship_path(ship)) do %>
          <div class="ships-images" data-aos="fade-up">
              <div class="position-relative inner-box">
                <div class="image">
                   <img src=<%= ship.photo_url%> >
                    <div class="overlay-box">
                      <div class="overlay-inner">
                        <h5 class="mb-0" style="text-transform: capitalize;"><%= ship.category.name %></h5>
                        <p style="text-transform: capitalize;"><%= ship.name  %></p>
                      </div>
                    </div> 
                </div>
              </div>
          </div>
        <% end %>  
      <% end  %>
    </div>
  </div>

</section>