<!-- Banner Start -->
<section class="section banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
         <h2 class="cd-headline clip is-full-width mb-4 ">
          Bobato Ship Models <br>
                    <span class="cd-words-wrapper text-color">
                        <b class="is-visible">Handmade Ship Models</b> <br>
                        <b>Since 1992</b>
                    </span>
                </h2>
                <p>Beautifully crafted ship models from the island of Mauritius.</p>
      </div>
    </div>
  </div>
</section>

<!-- Banner End -->

<!-- Ships list start -->
<section class="portfolio">
  <div class="container">
    <div class="row mb-5">
          <div class="col-10">
            <div class="btn-group btn-group-toggle " data-toggle="buttons">
              <label class="btn active ">
                <input type="radio" name="shuffle-filter" value="all" checked="checked" />All Ships
              </label>
              <label class="btn">
                <input type="radio" name="shuffle-filter" value="explorers" />Explorers
              </label>
              <label class="btn">
                <input type="radio" name="shuffle-filter" value="historicals" />Historicals
              </label>
              <label class="btn">
                <input type="radio" name="shuffle-filter" value="warships" />Warships
              </label>
               <label class="btn">
                <input type="radio" name="shuffle-filter" value="miniatures" />Miniatures
              </label>
            </div>
          </div>
      </div>  

    <div class="row shuffle-wrapper portfolio-gallery">

        <div class="col-lg-4 col-6 mb-4 shuffle-item"  data-groups="[&quot;explorers&quot;,&quot;historicals&quot;]">
          <%= link_to(ship_path(29)) do %>
            <div class="position-relative inner-box">
              <div class="image position-relative ">
                 <img src="https://shop.bobatoshipmodels.com/wp-content/uploads/2019/12/Endeavour-cook-10.jpg" alt="endeavour-image" class="img-fluid w-100 d-block">
                  <div class="overlay-box">
                    <div class="overlay-inner">
                      <h5 class="mb-0">Explorers</h5>
                      <p>HMS Endeavour Size 2</p>
                    </div>
                  </div> 
              </div>
            </div>
          <% end %>
        </div>

        <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;explorers&quot;]">
          <%= link_to(ship_path(30)) do %>
            <div class="position-relative inner-box" >
                <div class="image position-relative ">
                   <img src="https://shop.bobatoshipmodels.com/wp-content/uploads/2020/02/Wasa-110-cm-23.jpg" alt="wasa-size-4-image" class="img-fluid w-100 d-block">
                    <div class="overlay-box">
                      <div class="overlay-inner">
                        <h5 class="mb-0">Explorers</h5>
                        <p>Wasa Size 4</p>
                      </div> 
                  </div>
              </div>
            </div>
          <% end %>
        </div>

        <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;historicals&quot;]">
          <%= link_to(ship_path(31)) do %>
            <div class="position-relative inner-box">
                <div class="image position-relative ">
                   <img src="https://shop.bobatoshipmodels.com/wp-content/uploads/2019/11/Albatros-74-x-22-x-57-cm-1-1.jpg" alt="albatros-image" class="img-fluid w-100 d-block">
                    <div class="overlay-box">
                      <div class="overlay-inner">
                        <h5 class="mb-0">Historicals</h5>
                        <p>Albatros</p>
                      </div>
                    </div> 
                </div>
            </div>
          <% end %>
        </div>

        <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;historicals&quot;]">
          <%= link_to(ship_path(32)) do %>
            <div class="position-relative inner-box">
                <div class="image position-relative ">
                   <img src="https://shop.bobatoshipmodels.com/wp-content/uploads/2020/01/TITANIC-TIT144-1MT50CM2.jpg" alt="titanic-image" class="img-fluid w-100 d-block">
                    <div class="overlay-box">
                      <div class="overlay-inner">
                        <h5 class="mb-0">Historicals</h5>
                        <p>Titanic Size 3</p>
                      </div>
                    </div> 
                </div>
            </div>
          <% end %>
        </div>

        <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;warships&quot;]">
          <%= link_to(ship_path(34)) do %>
            <div class="position-relative inner-box">
                <div class="image position-relative ">
                   <img src="https://shop.bobatoshipmodels.com/wp-content/uploads/2020/01/Black-pearl-6.jpg" alt="portfolio-image" class="img-fluid w-100 d-block">
                    <div class="overlay-box">
                      <div class="overlay-inner">
                        <h5 class="mb-0 ">Warships</h5>
                        <p>Black Pearl</p>
                      </div>
                    </div> 
                </div>
            </div>
          <% end %>
        </div>

        <div class="col-lg-4 col-6 mb-4 shuffle-item" data-groups="[&quot;warships&quot;,&quot;historicals&quot;]">
          <%= link_to(ship_path(36)) do %>
            <div class="position-relative inner-box">
                <div class="image position-relative ">
                   <img src="https://shop.bobatoshipmodels.com/wp-content/uploads/2020/01/canot-Imperial-82-x-17-x-41-cm-18-1.jpg" alt="canot-imperial-image" class="img-fluid w-100 d-block">
                    <div class="overlay-box">
                      <div class="overlay-inner">
                        <h5 class="mb-0">Warships</h5>
                        <p>Canot Imperial</p>
                      </div>
                    </div> 
                </div>
            </div>
          <% end %>
        </div>
      </div>
  </div>
</section>
<!-- Ships list End -->

<!-- Service start -->
<section class="section service-home border-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2 class="mb-2 ">What we offer</h2>
        <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, totam ipsa quia hic odit a sit laboriosam voluptatem in, blanditiis.</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-4">
        <div class="service-item mb-5" data-aos="fade-left" >
          <i class="ti-layout"></i>
          <h4 class="my-3">International Shipping</h4>
          <p>Safely Packed.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="service-item mb-5" data-aos="fade-left"  data-aos-delay="450">
          <i class="ti-announcement"></i>
          <h4 class="my-3">Top Quality</h4>
          <p>Craftsmanship.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="service-item mb-5 mb-lg-0" data-aos="fade-left"  data-aos-delay="750">
          <i class="ti-layers"></i>
          <h4 class="my-3">Certificate
Of Authenticity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, earum.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="service-item" data-aos="fade-left"  data-aos-delay="750">
          <i class="ti-anchor"></i>
          <h4 class="my-3">Great Value</h4>
          <p>Competitive Prices.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="service-item mb-5" data-aos="fade-left"  data-aos-delay="950">
          <i class="ti-video-camera"></i>
          <h4 class="my-3">Repair Services</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, earum.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="service-item mb-5 mb-lg-0" data-aos="fade-left"  data-aos-delay="1050">
          <i class="ti-android"></i>
          <h4 class="my-3">Professional Maintenance</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, earum.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- service end -->