<!-- Banner Start -->
<section class="section banner">
  <div class="container">
    <div class="row">
      <div class="col-lg-10">
          <h2 class="cd-headline clip is-full-width">
            Bobato Ship Models 
          </h2>
            <h2 style="color: white">        
              <span class="cd-words-wrapper text-color" id="banner-typed-text"></span>
            </h2>
          <p class="mt-4">Beautifully crafted ship models from the island of Mauritius.</p>
      </div>
    </div>
  </div>
</section>

<!-- Banner End -->
<div class="video-edou">
  <div id="video-edou-id">
     <video preload="true" autoplay loop muted>
        <source src="https://res.cloudinary.com/dovu27lye/video/upload/v1582737691/bobato/mauritius_cropped_khyedm.mp4" type="video/mp4"> 
     </video>
   </div>
</div>

<div class="transparent-home"></div>

<!-- Ships list start -->
<section class="ships_list">
  <div class="container">

    <div class="mb-5">
          <div class="btn-group btn-group-toggle">
            <label class="btn">
              <%= link_to('ALL CATEGORIES', categories_path) %>   
            </label>
            
            <%= @category_ships.find_each do |category|  %>
              <label class="btn">
                <%= link_to(category_path(category)) do %>                     
                  <%= category.name.upcase %>
                <% end %>
              </label>
            <% end %>
          </div>
    </div>  

    <div class="shuffle-wrapper ships-list-gallery" id="ships-list-gallery-id">
      <%= @ships.find_each do |ship|  %>
        <%= link_to(ship_path(ship), class: 'ola' ) do %>
          <div class="ships-images" data-aos="fade-up">
              <div class="position-relative inner-box">
                <div class="image">
                    <% if @number == 1 %>
                      <%= image_tag(ship.photo_url, width: '100%') %>
                    <% elsif @number == 2 %>
                      <%= image_tag(ship.photo_url_two, width: '100%') %>
                    <% else %>
                      <%= image_tag(ship.photo_url_three, width: '100%') %>
                    <% end %>
                    <div class="overlay-box">
                      <div class="overlay-inner">
                        <h5 class="mb-0" style="text-transform: capitalize;"><%= ship.category.name %></h5>
                        <p style="text-transform: capitalize;"><%= ship.name  %></p>
                      </div>
                    </div> 
                </div>
              </div>
          </div>
        <% end %>  
      <% end  %>
    </div>

    <div class="controls">
        <i class="fas fa-sync" id="showMore"></i>
<!--         <a href="#" id="showLess">Show less</a>
 --></div>
  </div>

</section>
<!-- Ships list End -->

<!-- Service start -->
<section class="service-home border-top">
  <div class="container">
    <div class="row">
      <div class="col-lg-6" id="service-home-id">
        <h2 class="mb-2 ">What we offer</h2>
        <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, totam ipsa quia hic odit a sit laboriosam voluptatem in, blanditiis.</p>
      </div>
    </div>
    
    <div class="row">
      <div class="col-lg-4">
        <div class="service-item mb-5" data-aos="fade-left" >
          <i class="ti-layout"></i>
          <h4 class="my-3">International Shipping</h4>
          <p>Safely Packed.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="service-item mb-5" data-aos="fade-left"  data-aos-delay="450">
          <i class="ti-announcement"></i>
          <h4 class="my-3">Top Quality</h4>
          <p>Craftsmanship.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="service-item mb-5 mb-lg-0" data-aos="fade-left"  data-aos-delay="750">
          <i class="ti-layers"></i>
          <h4 class="my-3">Certificate Of Authenticity</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="service-item" data-aos="fade-left"  data-aos-delay="750">
          <i class="ti-anchor"></i>
          <h4 class="my-3">Great Value</h4>
          <p>Competitive Prices.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="service-item mb-5" data-aos="fade-left"  data-aos-delay="950">
          <i class="ti-video-camera"></i>
          <h4 class="my-3">Repair Services</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto, earum.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="service-item mb-5 mb-lg-0" data-aos="fade-left"  data-aos-delay="1050">
          <i class="ti-android"></i>
          <h4 class="my-3">Professional Maintenance</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- service end -->

    <a href="#video-home">
      <div class="container-chevron">
        <div class="chevron"></div>
        <div class="chevron"></div>
        <div class="chevron"></div>
      </div>
    </a>


<section class="video-section border-top">
  <div class="container">
    <h2 class="mb-4" style="font-size: 32px;">A Film Showing The Quality & Craftsmanship Of Our Ship Models.</h2>
    <div class="padding-top-video" data-aos="fade-up"></div>
    <div id="video-home" data-aos="fade-up">
       <video preload="true" autoplay loop muted class="video-bottom">
          <source src="https://res.cloudinary.com/dovu27lye/video/upload/v1583164862/bobato/Filmlab360_fnxg4l.mp4" type="video/mp4" data-src="https://res.cloudinary.com/dovu27lye/video/upload/v1583164862/bobato/Filmlab360_fnxg4l.mp4"> 
       </video>
    </div>
  </div>
</section>

